*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container
{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(123deg,#1D5D9B ,#75C2F6, #257694 );
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn
{
  font-size: 1.6rem;
  min-width: 350px;
  min-height: 40px;
  border-radius: 15px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
  background-color: #1D5D9B;
  color: black;
  font-weight: bold;
  border-style: none;
  cursor: pointer;

}
